<head>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 16px;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #3A71FF;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            font-family: "Raleway", sans-serif;
        }

        .logo {
            cursor: pointer;
            margin-right: auto;
            padding-left: 30px;
        }

        .white-profile-icon {
            color: #000000;
        }

            .white-profile-icon:hover {
                color: #BEACDF;
            }

        .nav ul {
            display: inline;
        }

        .nav_links {
            list-style: none;
            margin-right: auto;
            align-items: flex-end;
            padding: 20px;
            margin: 20px;
        }

            .nav_links li {
                display: inline-block;
                padding: 0px 20px;
                margin-right: auto;
            }

                .nav_links li a {
                    transition: all 0.3s ease 0s;
                    margin-right: auto;
                    align-items: flex-start;
                    font-size:25px;
                }

        li, button {
            color: black;
            text-decoration: none;
            font-size: 24px;
        }

        .nav_links li:hover {
            color: lightgrey;
        }

        .dropdown {
            position: relative;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            padding: 10px;
            border-radius: 4px;
            font-size: 14px;
        }

            .dropdown-content a {
                display: block;
                align-items: center;
                padding: 8px 12px;
                color: #333;
                text-decoration: none;
                transition: background-color 0.3s ease;
            }

                .dropdown-content a:hover {
                    background-color: #0000;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .line {
            border-top: 1px solid lightslategrey;
        }

        .navbar_links {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            padding-right: 10px;
            margin-right: 5px;
        }

            .navbar_links .nav-link {
                display: inline-block;
                align-items: center;
                margin-right: 20px;
                transition: color 0.3s ease;
            }

                .navbar_links .nav-link:hover {
                    color: #0000;
                }
    </style>
</head>
<body>
    <header>
        <a class="logo" style="margin-left:10px;" asp-controller="Home" asp-action="Index"><img src="\Images\Logo3.png" height="80"></a>
        <nav>
            <ul class="nav_links">                
                <li class="dropdown">
                    <a>FAQ</a>
                    <div class="dropdown-content">
                        <a class="dropdown-item bi bi-binoculars" href="~/FAQ/Details"> FAQs</a> @*users, employee & admins*@
                        <a class="dropdown-item bi bi-clipboard2-plus" href="~/FAQ/CreateFAQ"> New FAQ</a> @*admins and employee only*@
                    </div>
                </li>
                <li class="dropdown">
                    <a>Tickets</a>
                    <div class="dropdown-content">
                        <a class="dropdown-item bi bi-list-check" href="~/Ticket/ToDoTicket">To Do </a> @*Employees*@

                        @if (User.IsInRole("helpdesk agent"))
                        {
                            <a class="dropdown-item bi bi-clipboard2-plus" href="~/Ticket/AddTicket"> Submit Ticket</a> @*users and helpdesk agent*@
                        }
                    </div>
                </li>
                <li class="dropdown">
                    <a>Schedule & Leave</a>
                    <div class="dropdown-content">
                        <a class="dropdown-item bi bi-calendar" href="~/Employee/Schedule"> Calendar</a> @*employee & admins*@
                        <a class="dropdown-item bi bi-clock" href="~/Employee/ApplyLeave"> Apply Leave</a> @*can be for employee only OR employee & admins*@
                        <a class="dropdown-item bi bi-calendar-date" href="~/Employee/LeaveRequests"> Leave</a> @*Admins Only*@
                    </div>
                </li>
            </ul>
        </nav>

        <ul class="navbar_links"> 
            <li class="dropdown" style="list-style-type: none; display: flex; align-items: center;">
                <a class="dropdown-item bi bi-bell" style="margin-right: 30px;" asp-controller="Ticket" asp-action="Notification"></a>
                <div class="dropdown-content">
                    @if (ViewBag.Notification != null)
                    {
                        foreach (var notifications in ViewBag.Notification)
                        {
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="@Url.Action("HAUpdateTicket", "Ticket", new { TicketId = notifications.TicketId })">
                                        @notifications.TicketId. @notifications.Description
                                    </a>
                                </li>
                            </ul>
                        }
                    }
                    else
                    {
                        <div>No newly assigned tickets</div>
                    }
                </div>
            </li>

            <li class="nav-item" style="list-style-type: none; display: flex; align-items: center;">
                <a class="nav-link" asp-controller="Account" asp-action="EmpProfile">
                    <span class="bi bi-person-circle icon-large" style="margin-right: 5px;"></span>
                </a>

                <a class="nav-link" asp-controller="Account" asp-action="Logout">
                    <span class="bi bi-box-arrow-in-right text-muted bigger-icon" data-toggle="tooltip" title="Log out" style="margin-right: 1px;"></span>
                </a>
            </li>
        </ul>
    </header>
    <div class="line"></div>
</body>