<head>
    <style>
        .navbar-nav ul li {
            color: #000;
            text-transform: uppercase;
            position: fixed;
            display: flex;
        }

            .navbar-nav ul li::after {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                transition: width 0.5s ease;
            }

            .navbar-nav ul li:hover::after {
                width: 100%;
                color: #c230;
            }

        .navbar-nav .nav-item .nav-link:hover {
            color: #c230;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="navbar navbar-expand-md">
            <div class="container">
                <a class="nav-link" asp-controller="Home" asp-action="Index"><img src="\Images\Logo.png" height="40" width="120"></a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Ticket" asp-action="ViewTicket">Your Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Ticket" asp-action="AddTicket">New Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="FAQ" asp-action="Details">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="FAQ" asp-action="CreateFAQ">New FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="ViewTicket">My Tickets</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Profile">
                            <span class="bi bi-person-circle icon-large" style="margin-right: 5px;"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">
                            <span class="bi bi-box-arrow-in-right text-muted bigger-icon" data-toggle="tooltip" title="Log out" style="margin-left: 1px;"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

    </div>
</body>





