<head>
    <style>
        body {
            padding-top: 60px;
            margin: 0;
        }

        .container {
            display: flex;
        }

        .navbar {
            width: 250px;
            background-color: #c4a27f;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
        }

            .navbar img {
                margin: 10px;
            }

        .navbar-nav {
            list-style-type: none;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 0;
        }

        .nav-link {
            text-align: left;
            color: white;
            padding: 10px;
            text-decoration: none;
            text-indent: 10px;
        }

            .nav-link:hover {
                color: #000;
                transform: scale(0.85);
            }

        .content {
            margin-left: 200px;
            padding: 1rem;
        }

        .navbar-line {
            list-style-type: none;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: left;
            color: white;
            padding: 0px;
            text-decoration: none;
            text-indent: 10px;
            margin: 0;
            border: none;
            border-top: 1px solid #e3e5de;
            width: 70%;
            margin-right: 15%;
            margin-left: 15%;
        }

        .icon-large {
            font-size: 24px;
        }

        .bigger-icon {
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index"><img src="\Images\Logo.png" height="50"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Ticket" asp-action="AddTicket">New Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="FAQ" asp-action="Details">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="FAQ" asp-action="CreateFAQ">New FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="ViewTicket">All Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Employee" asp-action="EmployeeList">Employee List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Users">Users List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Employee" asp-action="Schedule">Employee Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Employee" asp-action="NewEmployee">Register Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Employee" asp-action="LeaveRequests">Leave Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Ticket" asp-action="DataCollected">Monthly Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Employee" asp-action="ApplyLeave">Apply Leave</a>
                </li>
            </ul>
            <ul class="navbar-line offset-md-2">
                <li class="nav-item" style="list-style-type: none; display: flex; align-items: center;">
                    <a class="nav-link" asp-controller="Account" asp-action="Profile">
                        <span class="bi bi-person-circle icon-large" style="margin-right: 5px;"></span>
                    </a>
                    <a class="nav-link" asp-controller="Account" asp-action="Logout">
                        <span class="bi bi-box-arrow-in-right text-muted bigger-icon" data-toggle="tooltip" title="Log out" style="margin-left: 1px;"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
