
<head>
    <style>
        body {
            padding-top: 60px;
        }

        .navbar {
            background-color: #000066; /* Change to dark blue color */
        }

        .navbar-expand-md {
            flex-direction: column; /* Make the navbar vertical */
        }

        .navbar-nav {
            width: 100%; /* Occupy full width of the container */
            margin: auto; /* Center-align the navbar items */
        }

        .nav-link {
            text-align: center; /* Center-align the navbar links */
        }
    </style>
</head>

<div class="container border-bottom">
    <nav class="navbar navbar-expand-md flex-column">
        <div class="container-fluid">
            <img src="\Images\Logo.png" height="50">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex justify-content-between w-100">
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="FAQ" asp-action="Details">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Ticket" asp-action="CustomerTicket">Your Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Ticket" asp-action="AddTicket">New Ticket</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Profile">My Profile</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <div class="nav-link">
                                    Logout
                                    <a class="text-end bi-box-arrow-in-right text-decoration-none text-muted"
                                       asp-controller="Account" asp-action="Logoff" data-toggle="tooltip"
                                       title="Log out"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
