
<head>
    <style>
        body {
            padding-top: 60px;
        }

        .navbar {
            background-color: #000066;
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            width: 200px;
            display: flex;
            flex-direction: column;
        }

        .navbar-brand {
            padding: 1rem;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        .navbar-nav {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .nav-item {
            margin-bottom: 1rem;
            position: relative;
        }

        .nav-link {
            display: block;
            padding: 0.5rem 1rem;
            color: #fff;
            text-decoration: none;
        }

            .nav-link.active {
                font-weight: bold;
            }

        .nav-item:hover .dropdown-menu {
            display: block;
        }

        .content {
            margin-left: 200px;
            padding: 1rem;
        }
    </style>
</head>
<body>
    <div>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="FAQ" asp-action="Details">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ticket" asp-action="CustomerTicket">Your Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ticket" asp-action="AddTicket">New Ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Profile">My Profile</a>
            </li>
        </ul>
    </div>
</body>

