@model NewEmployee

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .card {
        width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: lightsteelblue;
        color: black;
        margin-top: 110px;
        font-size: 22px; 
        font-family: Arial, sans-serif; 
    }
    .btn-primary{
        font-size: 14px;
        padding: 4px;
        background-color: #007bff;
        color: white;
        width: 150px;
        margin-top: 10px;
    }
    .btn-primary:hover{
        background-color: grey;
    }

</style>
<body background="\Images\MainBackground.jpg">
        <form method="post">
        <div class="card">
                <label for="NewPw">New Password:</label>
                <input type="password" id="NewPw" name="NewPw" value="NewPw" required class="form-control" />
                @Html.ValidationMessageFor(model => model.NewPw)

                <label for="EmpPw">Confirm Password:</label>
                <input type="password" id="EmpPw" name="EmpPw" value="EmpPw" required  class="form-control"/>
                @Html.ValidationMessageFor(model => model.EmpPw)
            <div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>
</body>
