
@{
    string email = ViewBag.Email;
}


<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" class="form-control" id="newPassword" name="NewPassword" required>
    </div>
    <input type="hidden" name="Email" value="@email">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>