@model FYP.Models.DeleteModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Delete FAQ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Delete FAQ</h1>
        <form method="post">
            <div class="mb-3">
                <label for="faqId" class="form-label">FAQ ID</label>
                <input type="number" class="form-control" id="faqId" name="FaqId" required>
                <span asp-validation-for="FaqId" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>

            @if (ViewData["Message"] != null)
            {
                <div class="form-group row">
                    <div class="col-6">
                        <div class="alert alert-@ViewData["MsgType"]">
                            <b>Message: </b>@ViewData["Message"]<br />
                            @if (!String.IsNullOrEmpty(ViewData["ExecSQL"]?.ToString()))
                            {
                                <b>SQL: </b>

                                @ViewData["ExecSQL"]?.ToString()
                            }
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</body>
</html>
