@model List<FYP.Models.Employee> 
@inject IHttpContextAccessor contextAccessor
@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .card {
            width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #C1C8E4;
            color: #fff;
            justify-content: center;
            margin-top: 120px;

        }

        h1 {
            text-align: center;
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }

        .btn-container {
            text-align: center;
            margin-top: 10px;
        }

        .button {
            display: inline-block;
            padding: 8px 16px;
            border-radius: 4px;
            background-color: #337ab7;
            color: #fff;
            text-decoration: none;
            transition: background-color 0.3s;
            cursor: pointer;
            border: none;
        }

            .button:hover {
                background-color: #23527c;
            }
    </style>
</head>
<body>
    <div class="card">
        <h1>User Profile</h1>
        @foreach (var employee in Model)
        {
            <ul>
                <li><label>User ID:</label> @employee.EmployeeId</li>
                <li><label>Email:</label> @employee.Email</li>
                <li>
                    <label>Phone Number:</label> @employee.Phone_no <a href="/Account/EditProfile2" class="bi bi-pencil-square" data-toggle="tooltip" style="color: black"></a>
                </li>

                <li><label>Name:</label> @employee.Name</li>
            </ul>
        }
        <div class="btn-container">
            <button class="button" onclick="location.href='/Account/UpdatePassword'">Change Password</button>
        </div>
    </div>
</body>
</html>


