@model List<FYP.Models.Employee> 
@inject IHttpContextAccessor contextAccessor
@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 980px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #5555
        }

        h1 {
            color: #FFFFFF;
        }

        p {
            /*text-align: center;
                    color: #FFFFFF;*/
            padding: 5px;
            /*font-size: 110%*/
        }

        label {
            display: block;
            margin-bottom: 5px;
            text-align: center;
            color: lightcyan;
            padding: 5px;
            font-size: 120%
        }

        span {
            text-align: center;
            color: #FFFFFF;
            padding: 10px;
            font-size: 120%;
        }

        .container .btn {
            display: inline-block;
            justify-content: center;
            margin-top: 10px;
            padding: 8px 16px;
            border-radius: 4px;
            color: #fff;
            text-decoration: none;
            transition: background-color 0.3s;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        @foreach (var employee in Model)
        {
            <p><label>User ID: </label>
                <ul>@employee.EmployeeId</ul>
            </p>
            <p><label>Email: </label>
                <ul>@employee.Email</ul>
            </p>
            <p><label>Phone Number: </label>
                <ul>@employee.Phone_no</ul>
            </p>
            <p><label>Name: </label>
                <ul>@employee.Name</ul>
            </p>
        }
        <div class="btn-container">
            <button type="button" class="btn btn-primary btn-block"  asp-controller="Account"
               asp-action="Update"
               >Edit Profile</button>
        </div>
    </div>
</body>
</html>

