@model ForgetPw


<h2>Forget Password</h2>

<form asp-controller="Account" asp-action="ForgetPw" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="Email" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>