@model UserLogin;

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <title>Login</title>
    <style>
        body {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container {
            display: flex;
            border-color: transparent;
            color: #FFFFFF;
            justify-content: left;
            align-items: center;
            height: 100vh;
            margin-left: 20px;
        }

        .card-header {
            border-color: transparent;
        }

        .card {
            background-color: transparent;
            border-color: transparent;
            justify-content: left;
            flex: auto;
            width: 1050px;
            height: auto;
        }

        .form-group {
            margin-bottom: 0.5rem;
        }

        .form-label {
            color: #FFFFFF;
        }

        .form-control {
            background-color: #FFFFFF;
            color: #000000;
            border: none;
            border-radius: 5px;
            padding: 10px;
            height: 38px;
        }

        .checkbox-label {
            color: #FFFFFF;
            margin-left: 5px;
        }

        .btn-primary {
            background-color: cornflowerblue;
            border-color: cornflowerblue;
        }

            .btn-primary:hover {
                background-color: #1E73C0;
                border-color: #1E73C0;
            }

        .card-footer a {
            border-color: transparent;
            color: #FFFFFF;
            text-decoration: none;
        }

            .card-footer a:hover {
                color: #9BB1DA;
            }
    </style>
</head>

<body background="\Images\LoginBackground.jpg">
    <div class="container">
        <form method="post" asp-controller="Account" asp-action="Login">
            <div class="card">
                <div class="card-header">
                    <img src="\Images\Logo3.png" style="width: 225.5px; height: 62px; margin-left:150px;">
                </div>

                <div class="card-body">
                    <form>
                        <div class="mb-3 offset-md-4">
                            <h4>Welcome!</h4>
                        </div>

                        <div class="form-group col-md-4 mb-3 offset-md-4">
                            <input asp-for="UserID" class="form-control" placeholder="UserID" />
                            <span asp-validation-for="UserID" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4 mb-2 offset-md-4">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4 mb-2 offset-md-4">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <div class="mb-2 offset-md-4">
                        <a href="/Account/ForgetPw" style="color:cornflowerblue;">Forgot Password?</a>
                        <a href="/Account/Register" style="margin-left: 143px; color:cornflowerblue;">Register</a>
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(ViewData["Message"] as string))
                {
                    <div class="form-group ">
                        <div class="alert alert-warning" role="alert">
                            @ViewData["Message"]
                        </div>
                    </div>
                }

                <div class="card-footer">
                    <div class="offset-md-4">
                        <a href="/Account/Policy" style="margin-left: 30px">Privacy Policy</a>
                        <a href="/Account/TermsConditions" style="margin-left: 35px">Terms & Conditions</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>