@model UserLogin; 

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #000000;
            color: #FFFFFF;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            background-color: #2A2A43;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 38px;
            margin: 5px;
            flex: 1;
            width: 390px;
            height: 600px;
        }

        .form-group {
            margin-bottom: 0.5rem;
        }

        .form-label {
            color: #FFFFFF;
        }

        .form-control {
            background-color: #33335F;
            color: #FFFFFF;
            border: none;
            border-radius: 5px;
            padding: 10px;
            height: 38px;
        }

        .checkbox-label {
            color: #FFFFFF;
            margin-left: 5px;
        }

        .btn-primary {
            background-color: #3C91E6;
            border-color: #3C91E6;
        }

            .btn-primary:hover {
                background-color: #1E73C0;
                border-color: #1E73C0;
            }

        .card-footer a {
            color: #FFFFFF;
        }

            .card-footer a:hover {
                color: #9BB1DA;
            }
    </style>
</head>
<body>
    <div class="container">
        <form method="post" asp-controller="Account" asp-action="Login">
            <div class="card">
                <div class="card-header">
                    <img src="\Images\Logo.png" style="width: 225.5px; height: 62px;">
                </div>

                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4>Welcome!</h4>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserID" class="form-label">User ID</label>
                            <input asp-for="UserID" class="form-control" placeholder="UserID" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                        </div>

                        <div class="form-group">
                            <div class="form-control" style="background-color: transparent; border: none;">
                                <input type="checkbox" class="form-check-input" id="RememberMe" name="Remember Me" value="Remember Me" />
                                <label class="checkbox-label" for="RememberMe">Remember Me</label>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>

                    <div>
                        <div>
                            <a href="/Account/ForgetPassword">Forgot Password?</a>
                            <a href="/Account/Register">Register</a> <!-- Add the link to the registration page -->
                        </div>
                    </div>

                    @if (!string.IsNullOrEmpty(ViewData["Message"] as string))
                    {
                        <div class="form-group">
                            <div class="alert alert-warning" role="alert">
                                @ViewData["Message"]
                            </div>
                        </div>
                    }

                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <a href="/Account/Policy">Privacy Policy</a>
                        <a href="/Account/Policy">Terms & Conditions</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
