<!DOCTYPE html>
<html>
<head>
    <title>IT Helpdesk Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: center;
        }
        h2 {
            margin-top: 30px;
        }

        ul {
            margin-top: 10px;
        }

        li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div>
        <button class="button" onclick="location.href='/Account/Login'"> Back</button>
    </div>
    <h1>IT Helpdesk Policy</h1>

    <h2>Service Hours</h2>
    <p>Support is available during the following hours:</p>
    <ul>
        <li>Monday to Friday: 9:00 AM - 5:00 PM</li>
    </ul>

    <h2>Ticketing System</h2>
    <p>We use a ticketing system to manage user requests. Please include the following information when submitting a ticket:</p>
    <ul>
        <li>Type of issue<li>
        <li>Category of the issue if applicable</li>
        <li>Description of the issue</li>
    </ul>

    <h2>Response and Resolution Times</h2>
    <p>Our target response and resolution times for different types of requests are as follows:</p>
    <ul>
        <li>Urgent: Within 1 hour</li>
        <li>High: Within 4 hours</li>
        <li>Medium: Within 1 business day</li>
        <li>Low: Within 3 business days</li>
    </ul>

    <h2>Support Channels</h2>
    <p>You can seek support through the following channels:</p>
    <ul>
        <li>Phone: +65 9339 2019</li>
        <li>Email: atyourservice@tickethelper.com</li>
        <li>Online Portal: <a href="https://example.com/support">tickethelper.com/support</a></li>
    </ul>

    <h2>Issue Prioritization</h2>
    <p>We prioritize support requests based on the following criteria:</p>
    <ul>
        <li>Urgency: Impact on business operations</li>
        <li>Impact: Number of users affected</li>
    </ul>

    <h2>Escalation Process</h2>
    <p>If your issue cannot be resolved at the helpdesk level, it will be escalated according to the following process:</p>
    <ul>
        <li>Contact your immediate supervisor</li>
        <li>Supervisor will escalate the issue to higher-level support or management</li>
    </ul>

    <h2>User Responsibilities</h2>
    <p>When seeking IT support, users are expected to:</p>
    <ul>
        <li>Provide accurate and detailed information about the problem</li>
        <li>Follow instructions provided by the IT staff</li>
        <li>Cooperate during the troubleshooting process</li>
    </ul>

    <h2>Confidentiality and Data Security</h2>
    <p>We prioritize the confidentiality and security of your information. Please be assured that:</p>
    <ul>
        <li>All data shared with the helpdesk will be treated as confidential</li>
        <li>We adhere to industry-standard security practices</li>
    </ul>

    <h2>Communication Guidelines</h2>
    <p>We value effective and respectful communication. Our IT staff will contact to you through email or contact, either preferred.</p>
</body>
</html>