@model FYP.Models.NewUser

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">

    <script>
    function showMessage() {
        var confirmation = confirm("Your unsaved edits will be discarded. Do you want to proceed?");

        if (confirmation) {
            window.location.href = "/Account/Login";
        } else {
            // User chose to cancel will just get back to the form
        }
    }
</script>
    <style>
        body {
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 100vh;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            background-color: #FFFFFF;
            color: #000000;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 38px;
            margin: 5px;
            flex: 1;
            width: 450px; /* Adjust the width as needed */
            height: auto; /* Remove fixed height */
        }

        .form-group {
            margin-bottom: 1rem; /* Increase margin-bottom for spacing */
        }

        .form-label {
            color: #000000; /* Change label color to black */
        }

        .form-control {
            background-color: #FFFFFF;
            color: #000000; /* Change input text color to black */
            border: none;
            border-radius: 6px;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .form-control:focus {
                background-color: #FFFFFF;
                color: #000000; /* Change focused input text color to black */
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                border-color: #FFFFFF;
                outline: 0;
            }
    </style>
</head>
<body background="\Images\MainBackground.jpg">
    <div class="container">
        <div class="card-body">
            <form method="post" asp-controller="Account" asp-action="Register">
                <div class="mb-3 offset-md-4">
                    <button onclick="showMessage()">Back</button>
                    <h2>User Registration</h2>
                </div>
                <!--<div class="form-group col-md-4 mb-3 offset-md-4">

                    <input type="number" class="form-control" input asp-for="UserID" placeholder="User ID" hidden>
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>-->
                <div class="form-group col-md-4 mb-3 offset-md-4">

                    <input type="password" class="form-control" input asp-for="UserPw" placeholder="User Password" required>
                    <span asp-validation-for="UserPw" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-3 offset-md-4">

                    <input type="password" class="form-control" input asp-for="UserPw2" placeholder="Confirm Password" required>
                    <span asp-validation-for="UserPw2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-3 offset-md-4">

                    <input type="text" class="form-control" input asp-for="UserName" placeholder="Full Name" required>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <!--<div class="form-group col-md-4 mb-3 offset-md-4">

                    <input type="text" class="form-control" input asp-for="Role" placeholder="Role" hidden>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>-->
                <div class="form-group col-md-4 mb-3 offset-md-4">

                    <select class="form-select" input asp-for="School" placeholder="School" required>
                        <option value="">-- SELECT SCHOOL --</option>
                        <option value="SOI">SOI</option>
                        <option value="SEG">SEG</option>
                        <option value="SMC">SMC</option>
                        <option value="SOH">SOH</option>
                        <option value="SAS">SAS</option>
                        <option value="STA">STA</option>
                        <option value="SHL">SHL</option>
                    </select>
                    <span asp-validation-for="School" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-3 offset-md-4">

                    <input type="email" class="form-control" input asp-for="Email" placeholder="Email" required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-3 offset-md-4">

                    <input type="number" class="form-control" input asp-for="PhoneNo" placeholder="Phone Number" required>
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 offset-md-4">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

                @if (ViewData["Message"] != null)
                {
                    <div class="form-group row">
                        <div class="col-6">
                            <div class="alert alert-@ViewData["MsgType"]">
                                <b>Message: </b>@ViewData["Message"]<br />
                                @if (!String.IsNullOrEmpty(ViewData["ExecSQL"]?.ToString()))
                                {
                                    <b>SQL: </b>

                                    @ViewData["ExecSQL"]?.ToString()
                                }
                            </div>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</body>
</html>
