@model FYP.Models.NewEmployee

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">

    <script>
        function showMessage() {
            var confirmation = confirm("Your unsaved edits will be discarded. Do you want to proceed?");

            if (confirmation) {
                window.location.href = "/Home/Index";
            } else {
                // User chose to cancel will just get back to the form
            }
        }
    </script>
    <style>
        body {
            background-color: lightgray;
            color: #FFFFFF;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 100vh;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            background-color: #FFFFFF;
            color: #000000;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 38px;
            margin: 5px;
            flex: 1;
            width: 450px; /* Adjust the width as needed */
            height: auto; /* Remove fixed height */
            margin-top: -100px; /* Add negative margin-top to shift the card up */
        }

        .form-group {
            margin-bottom: 1rem; /* Increase margin-bottom for spacing */
        }

        .form-label {
            color: #000000; /* Change label color to black */
        }

        .form-control {
            background-color: #FFFFFF;
            color: #000000; /* Change input text color to black */
            border: none;
            border-radius: 6px;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .form-control:focus {
                background-color: #FFFFFF;
                color: #000000; /* Change focused input text color to black */
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                border-color: #FFFFFF;
                outline: 0;
            }

        .btn-primary {
            background-color: #28a745; /* Green color */
            border-color: #28a745; /* Green color */
        }

            .btn-primary:hover {
                background-color: #218838; /* Darker shade of green */
                border-color: #218838; /* Darker shade of green */
            }
    </style>
</head>
<body background="\Images\MainBackground.jpg">
    <div class="container">
        <div class="card">
            <h3 class="mb-4">New Employee</h3>
            <form method="post" asp-controller="Employee" asp-action="NewEmployee">

                <div class="form-group mb-3">
                    <label for="Name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="Name" name="Name" required>
                </div>
                  
                <div class="form-group mb-3">
                    <label for="Phone_no" class="form-label">Phone Number:</label>
                    <input type="text" class="form-control" id="Phone_no" name="Phone_no" required>
                    <span asp-validation-for="Phone_no" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label for="EmpPw" class="form-label">User Password:</label>
                    <input type="password" class="form-control" input asp-for="EmpPw" placeholder="User Password" required>
                    <span asp-validation-for="EmpPw" class="text-danger"></span>
                </div>
                <div>
                <div class="form-group mb-3">
                    <label for="Email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="Email" name="Email" required>
                </div> 
                <div class="form-group mb-3 offset-md-4">
                    <button type="submit" class="btn btn-primary" style="margin-left: 50px">Submit</button>
                    <button type="submit" class="btn btn-primary" style="margin-left: 25px" onclick="showMessage()">Cancel</button>
                </div>

                @if (ViewData["Message"] != null)
                {
                    <div class="form-group row">
                        <div class="col-6">
                            <div class="alert alert-@ViewData["MsgType"]">
                                <b>Message: </b>@ViewData["Message"]<br />
                                @if (!String.IsNullOrEmpty(ViewData["ExecSQL"]?.ToString()))
                                {
                                    <b>SQL: </b>

                                    @ViewData["ExecSQL"]?.ToString()
                                }
                            </div>
                        </div>
                    </div>
                }
                </div>
            </form>
        </div>
    </div>
</body>
</html>
