@model FYP.Models.EmployeeSchedule
<!DOCTYPE html>
<html>
<head>
    <title>Schedule Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <style>
        
        body { 
            font-family: Arial, sans-serif;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 100vh;
            justify-content: center;
            align-content: center;
        }

        #calendar {
            max-width: 900px;
            margin: 20px auto;
            background-color: #FFF;
            border-radius: 7px;
        }

        .leave-event {
            background-color: sandybrown;
            border-color: sandybrown;
        }

        .current-day {
            background-color: beige !important;
            color: #000 !important;
        }

        .fc-content .fc-title {
            margin-top: 5px;
            text-align: center;
            font-weight: bold;
        }

        .fc-content .employee-id {
            display: block;
            font-size: 0.9em;
            color: black;
        }

        .create-event {
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
        }

        .create-event-icon {
            vertical-align: middle;
        }
        
    </style>

    <script>
        $(document).ready(function () {
            var calendar = $('#calendar').fullCalendar({
                events: @Html.Raw(Json.Serialize(ViewBag.LeaveEvents)),

                viewRender: function (view, element) {
                    var currentDate = moment().format('YYYY-MM-DD');
                    $("td[data-date='" + currentDate + "']").addClass('current-day');
                },

                eventRender: function (event, element) {
                    if (event.start.isSame(event.end, 'day')) {
                        element.addClass('leave-event');
                    } else {
                        element.addClass('leave-event start-date');
                        element.nextUntil(event.end, '.fc-day').addClass('leave-event end-date');
                    }
                    element.find('.fc-title').html('<span class="employee-id">' + event.title + '</span>');
                    element.attr('data-toggle', 'tooltip');
                    element.attr('title', getLeaveInfo(event));
                },

                eventAfterRender: function (event, element) {
                    $('[data-toggle="tooltip"]').tooltip();
                },

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'createEventButton'
                },

                
            });
            function getLeaveInfo(event) {
                var employeeId = event.title;
                var startDate = event.start.format('MMM D, YYYY');
                var endDate = event.end.format('MMM D, YYYY');

                var leaveInfo = 'Employee ID: ' + employeeId
                    + ' Start Date: ' + startDate
                    + ' End Date: ' + endDate;

                return leaveInfo;
            }
        });
    </script>
</head>
<body background="\Images\MainBackground.jpg">
    <button class="btn btn-primary" onclick="location.href='/Home/Index'"> Back</button>
    <div id="calendar"></div>
</body>
</html>
