<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>New Ticket</title>
    <script>
        function showMessage() {
            alert("Your unsaved edits will be discarded");
            window.location.href = "/Home/Index";
        }
    </script>
</head>
<body>

</body>
</html>