<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forbidden</title>
    <style>
        body {
            display: flex;
            height: 100vh;
            font-family: Arial, sans-serif;
            background-color: #FFFFFF;
            justify-content: center;
            align-items: center;
        }

        .icon {
            font-size: 120px;
            margin-bottom: 20px;
        }

        .container {
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="icon">;-;</div>
        <h1>Forbidden</h1>
        <p>Too bad bro.Page does not exist.<a href="/Home/Index" style="margin-left: 35px,color:white">Return</a></p>
    </div>
</body>
</html>
