@{
    Layout = "_Ticket";
}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        * {
            box-sizing: border-box;
        }
        
        .container {
            margin-left: 20px;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-size: 20px;
            background-color: #E6EDF2;
            border-radius: 10px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 4px;
            text-decoration: none;
            background-color: dimgrey; 
            color: white;
            border: none;
            cursor: pointer;
            margin: 5px;
            transition: background-color 0.3s;
        }

            .button:hover {
                background-color: lightslategrey; 
            }

        .news-container {
            flex-basis: 100%;
        }

        #editable-container {
            margin-top: 20px;
            background-color: #E6EDF2;
            padding: 10px;
            border-radius: 5px;
        }


    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Welcome to Ticket Helper</h1>
            <p>
                TicketHelper will be your one-stop solution for the technical problems you face, software and hardware.
                Our application will help you to conveniently report your problems or even provide you with solutions you might need under the FAQ section.
                We will ensure that your problems will be settled as soon as possible and provide you with the best troubleshooting experience.
            </p>
            <div>
                <button class="button" onclick="location.href='/Ticket/AddTicket'">Report a problem!</button>
                <button class="button" onclick="location.href='/FAQ/Details'">Possible Solutions You May Be Looking For</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="news-container">
            <h1>News Updates</h1>
            <div id="editable-container">
                <p id="content-paragraph">Site is still under development. Will be made available on 7 August 2023. See you then!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <h1>Contact Us</h1>
            <p>
                For any queries, contact us through our email, rptickethelper@gmail.com or contact us at +65 9339 2019.
            </p>
            <button class="button" onclick="location.href='https://mail.google.com/mail/?view=cm&fs=1&tf=1'">Email us here!</button>
        </div>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="container">
        <textarea id="updated-content" rows="3" cols="50"></textarea>
        <br>
        <button onclick="updateContent()">Update</button>
    </div>
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function updateContent() {
            var updatedContent = document.getElementById('updated-content').value;
            document.getElementById('content-paragraph').textContent = updatedContent;
            document.getElementById('updated-content').value = '';
        }
    </script>
</body>
</html>
