@model List<FYP.Models.FAQ>
@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #E8E3DF;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        main {
            max-width: 800px;
            margin: 0 auto;
        }

        p {
            line-height: 1.5;
        }

        .table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

            .table th, .table td {
                border-bottom: 1px solid black;
                padding: 8px;
            }

        .no-tickets-message {
            text-align: center;
            margin-top: 20px;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div class="container">

        @if (Model == null || Model.Count == 0)
        {
            <p class="no-tickets-message">No FAQ available.</p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>FAQ ID</th>
                    <th>Question</th>
                    <th>Solution</th>
                    <th>Category</th>
                </tr>
                @foreach (var fAQ in Model)
                {
                    <tr>
                        <td>@fAQ.FaqId</td>
                        <td>@fAQ.Question</td>
                        <td>@fAQ.Solution</td>
                        <td>@fAQ.CategoryId</td>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>
