@model FYP.Models.FAQ
@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <title>FAQs</title>
    <style>
        .card {
            margin-top: 130px;
            background: #FFFFFF;
            padding: 20px;
            margin-top: 150px;
        }
        .card{
            border: 10px;
        }
    </style>

</head>
<body>
    <div class="card">
        <strong>Question: @Model.Question</strong>
        <strong>Solution: </strong>
        <p>@Model.Solution;</p>
    </div>
</body>
</html>
